body{
 background-color: rgb(225, 204, 17);
 text-align: center;
}
h1 {
    font-style: italic;
    color: rgb(38, 17, 170);
    font-size: larger;
}
h2 {
    color: rgb(38, 17, 170);
    font-weight:200;
}

.imagem {
    width: 50%;
}
.lista {
    text-align: left;
    color: rgba(38, 17, 170);
}