body{
 background-color: rgb(113, 211, 94);
 text-align: center;
}
h1 {
    font-style: italic;
    color: rgb(69, 125, 211);
    font-size: larger;
}
h2 {
    color: rgb(14, 229, 157);
    font-weight:200;
}

.imagem {
    width: 50%;
}
.imagem2 {
 width: 40%;
}
.lista {
    text-align: left;
    color: rgba(137, 43, 226, 0.598);
}
.pizza {
    color: darkmagenta;
}